<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>

<h2>Agregar un producto</h2>
<form id="form">
    <label>Producto: </label><input type="text" name="name" id="name">
    <label>Descripción: </label><input type="text" name="name" id="description">
    <label>Categoría: </label><input type="text" name="category" id="category">
    <br><br>
    <label>Precio: </label><input type="number" name="price" id="price">
    <label>Código: </label><input type="number" name="code" id="code">
    <label>Stock: </label><input type="number" name="stock" id="stock">
    <br><br>

    <input type="submit" value="Enviar">
</form>

<h2>Lista de productos</h2>
